<?xml version='1.0' encoding='utf-8'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.install.appinstall.xl">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:resizeableActivity="true">
		<provider
			android:name="com.install.appinstall.xl.HookInit$HookProvider"
			android:authorities="${applicationId}.hook.provider"
			android:exported="false"
			android:enabled="true"
			android:process=":hook_process"
			android:directBootAware="false" /> <!-- 适配Android 12+，避免权限异常 -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

		<meta-data
			android:name="xposedmodule"
			android:value="true" />

		<meta-data
			android:name="xposeddescription"
			android:value="移除强制安装第三方应用" />

		<meta-data
			android:name="xposedminversion"
			android:value="53" />

		<meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <meta-data
			android:name="android.max_aspect"
			android:value="4.0"/>

    </application>

</manifest>

